<div class="container">
  <h1>Registro</h1>
  <form action="/register" id="registroForm" method="post">
    <div class="mb-3">
      <input type="text" class="form-control" name="name" placeholder="Nombre completo" required>
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" name="username" placeholder="Correo electrónico" required>
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
    </div>
    <button type="submit" class="btn btn-primary">Registrarse</button>
  </form>
  <div class="mt-3">
    <p>¿Ya tienes una cuenta? <a href="/">Iniciar sesión</a></p>
  </div>
</div>
